/* CSS stylesheet to style HTML elements in the content area of the Responsive Portfolio website.
 
   NAME: style-about.css
   AUTHOR: Elaina Swann
   DATE: 11/30/2017
   REVISION LOG:  
*/

/* Content area.
   NOTE: Main and sidebar areas are styled in the common css stylesheet because they do not change across webpages.
*/
.content {
  background: #ffffff;
  display: inline-block;
  height: auto;
  margin: 1.875rem 0 1.875rem 0;
  padding: 0;
  width: 40.625rem;
}

/* Content heading. */
.h1-content {
  height: 100%;
  margin: 0;
  padding: 1.5rem 1.875rem 1.5rem 1.875rem;
  text-align: left;
  width: 36.825rem; /* Need to subtract margin width due to inheritance. */
}

#hr-content {
  background:#cccccc;
  margin: 0 1.875rem 0 1.875rem;
  padding: 0;
  width: auto;
}

/* Profile picture. */
#img-profile {
  height: 9.375rem;
  float: left;
  margin: 1.875rem 1.875rem 0 1.875rem;
  padding: 0;
  width: 12.5rem;
}

/* Profile summary. */
#profile-summary {
  font-size: 1rem;
  height: auto;
  line-height: 1.7rem;
  margin: 0;
  padding: 1.875rem;
  text-align: justify;
  width: inherit;
}