/* CSS stylesheet to style HTML elements in the content area of the Responsive Portfolio website.
 
   NAME: style-about.css
   AUTHOR: Elaina Swann
   DATE: 11/30/2017
   REVISION LOG:  
*/

/* Content area.
   NOTE: Main and sidebar areas are styled in the common css stylesheet because they do not change across webpages.
*/
.content {
  background: #ffffff;
  display: inline-block;
  height: auto;
  margin: 1.875rem 0 1.875rem 0;
  padding: 0;
  width: 68%;
}

/* Content heading. */
.h1-content {
  align-items: center;
  display: inline-flex;
  font-size: 2rem;
  height: 100%;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  text-align: left;
  width: auto;
}

#hr-content {
  background:#cccccc;
  margin: 0 1.875rem 0 1.875rem;
  padding: 0;
  width: auto;
}

/* Container to manipulate about content. */
#about-content {
  height: auto;
  margin: 1.875rem;
  padding: 0;
  width: auto;
}

/* Profile picture. */
#img-profile {
  float: left;
  height: 12.5rem;
  margin: 0;
  padding-right: 1.875rem;
  width: 12.5rem;
}

/* Profile summary. */
#profile-summary {
  font-size: 1rem;
  height: auto;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: justify;
  width: auto;
}

/* NOTE: Max width is set to 1360px or 85em. The webpages will function normally between 981px and 1360px. */

/*
  These rules take effect when the browser's width
  is between 769px and 980px (inclusive)..
*/
@media screen and (max-width: 980px) and (min-width: 769px) {
  html, body {
    font-size: .875em; /* Set font-size to 14px. */
  }
   
  header, main {
    padding: 0 5% 0 5%;
  }

  #img-profile {
    float: none;
    padding: 0 0 1.875rem 0;
  }

  #profile-summary {
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (min-width: 641px) {
  html, body {
    font-size: .75em; /* Set font-size to 12px. */
  }

  header, main {
    padding: 0 5% 0 5%;
  }

  .sidebar {
    float: none;
  }

  .content, .sidebar {
    width: 100%;
  }

  .h2-sidebar, .ul-social {
    display: inline-flex;
  }
}

@media screen and (max-width: 640px) {
  html, body {
    font-size: .75em; /* Set font-size to 12px. */
  }

  header {
    padding: 0;
  }
  
  main {
    padding: 0 5% 0 5%;
  }

  #img-profile, .sidebar {
    float: none;
  }

  #img-profile {
    padding: 0 0 1.875rem 0;
  }

  .profile-summary, .content, .sidebar {
    width: 100%;
  }

  .h2-sidebar, .ul-social {
    display: inline-flex;
  }

  .h1-header {
    height: 50%;
    justify-content: center;
    width: 100%;
  }

  .ul-html-pages {
    float: none;
    height: 50%;
    text-align: center;
    width: 100%;
  }

  .li-html-pages {
    width: 33%;
  }

  .link-html-pages {
    justify-content: center;
    padding: 0;
  }
}
