/* CSS stylesheet to style HTML elements in the content area of the Responsive Portfolio website.
 
   NAME: style-contact.css
   AUTHOR: Elaina Swann
   DATE: 11/30/2017
   REVISION LOG:  
*/

/* Content area.
   NOTE: Main and sidebar areas are styled in the common css stylesheet because they do not change across webpages.
*/
.content {
  background: #ffffff;
  display: inline-block;
  height: auto;
  margin: 1.875rem 0 1.875rem 0;
  padding: 0;
  width: 40.625rem;
}

/* Content heading */
.h1-content {
  height: 100%;
  margin: 0;
  padding: 1.5rem 1.875rem 1.5rem 1.875rem;
  text-align: left;
  width: 36.825rem; /* Need to subtract margin width due to inheritance. */
}

#hr-content {
  background:#cccccc;
  margin: 0 1.875rem 0 1.875rem;
  padding: 0;
  width: auto;
}

/* Form to input and submit contact information. */
form {
  font-size: .67rem;
  margin: 0 1.875rem 0 1.875rem;
  padding: 0;
  width: 36.825rem; /* Need to subtract margin width due to inheritance. */
}

#label-name, #label-email, #label-message {
  color: #000;
  font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: normal;
  text-align: left;
}

input {
  font-size: inherit;
  margin: 0;
  padding: 1rem;
  width: 100%;
}

#form-name, #form-email {
  height: 3.26rem;
}

#form-message {
  height: 18.65rem;
}

#form-submit {
  background: #4aaaa5;
  color: #ffffff;
  font-size: 1.5rem;
  height: 3.72rem;
  margin: .5rem 0 .5rem 0;
  padding: 0; 
  width: 10.72rem;
}