/* CSS stylesheet to style HTML elements in the content area of the Responsive Portfolio website.
 
   NAME: style-portfolio.css
   AUTHOR: Elaina Swann
   DATE: 11/30/2017
   REVISION LOG:  
*/

/* Content area.
   NOTE: Main and sidebar areas are styled in the common css stylesheet because they do not change across webpages.
*/
.content {
  background: #ffffff;
  display: inline-block;
  height: auto;
  margin-top: 1.875rem;
  padding: 0;
  width: 68%;
}

/* Content heading. */
.h1-content {
  align-items: center;
  display: inline-flex;
  font-size: 2rem;
  height: 100%;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  text-align: left;
  width: auto;
}

#hr-content {
  background:#cccccc;
  margin: 0 1.875rem 0 1.875rem;
  padding: 0;
  width: auto;
}

/* Container holding portfolio images. */
.img-container {
  height: 12.5rem;
  margin-bottom: 1.25rem;
  padding: 0;
  position: relative;
  text-align: center;
  width: 17.1875rem;
}

/* Define margins for specific gallery images since they are not consistent in the layout. */
#img-container-1, #img-container-3, #img-container-5 {
  float: left;
  margin-left: 1.875em;
}

#img-container-2, #img-container-4 {
  float: right;
  margin-right: 1.875em;
}

#img-container-1, #img-container-2 {
  margin-top: 1.875em;
}

/* Position the image to a position inside the image container. */
.img-portfolio {
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; /* Must be smaller than .img-link. */
}

/* Position the link to a position inside the image container. */
.img-link {
  background: #4aaaa5;
  bottom: .625rem;
  color: #ffffff;
  font-size: 1rem;
  height: 3.75rem;
  left: 0;
  line-height: 3.75rem;
  position: absolute;
  text-decoration: none;
  width: 100%;
  z-index: 2; /* Must be larger than .img-portfolio. */
}

/* NOTE: Max width is set to 1360px or 85em. The webpages will function normally between 981px and 1360px. */

/*
  These rules take effect when the browser's width
  is between 769px and 980px (inclusive)..
*/
@media screen and (max-width: 980px) and (min-width: 769px) {
  html, body {
    font-size: .75em; /* Set font-size to 12px. */
  }

  .content {
    width: 60%;
  }

  .sidebar {
    width: 37.5%;
  }

  /* Using ids here to make sure the ids above to not reassign values due to precedence. */
  #img-container-1, #img-container-2, #img-container-3, #img-container-4, #img-container-5 {
    float: none;
    height: 10.9375rem;
    margin: 1rem 20% 0 20%;
    width: 60%;
  }

  #img-container-5 {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 641px) {
  html, body {
    font-size: .75em; /* Set font-size to 12px. */
  }

  header, main {
    padding: 0 5% 0 5%;
  }

  .sidebar {
    float: none;
  }

  .content, .sidebar {
    width: 100%;
  }

  #img-container-1, #img-container-3, #img-container-5 {
    margin-left: 5%;
    width: 40%;
  }

  #img-container-2, #img-container-4 {
    margin-right: 5%;
    width: 40%;
  }

  .h2-sidebar, .ul-social {
    display: inline-flex;
  }
}

@media screen and (max-width: 640px) {
  html, body {
    font-size: .75em; /* Set font-size to 12px. */
  }

  header {
    padding: 0;
  }
  
  main {
    padding: 0 5% 0 5%;
  }

  .sidebar {
    float: none;
  }
    
  .content, .sidebar {
    width: 100%;
  }

  /* Using ids here to make sure the ids above to not reassign values due to precedence. */
  #img-container-1, #img-container-2, #img-container-3, #img-container-4, #img-container-5 {
    float: none;
    height: 10.9375rem;
    margin: 1rem 25% 0 25%;
    width: 50%;
  }

  #img-container-5 {
    margin-bottom: 1rem;
  }

  .h2-sidebar, .ul-social {
    display: inline-flex;
  }

  .h1-header {
    height: 50%;
    justify-content: center;
    width: 100%;
  }

  .ul-html-pages {
    float: none;
    height: 50%;
    text-align: center;
    width: 100%;
  }

  .li-html-pages {
    width: 33%;
  }

  .link-html-pages {
    justify-content: center;
    padding: 0;
  }
}
